.card {
    padding: 30px 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__text-column {
        margin-right: 20px;
    }
    &__title {
        font-weight: normal;
    }
    &__genre-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
    }
    &__btn-wrap {
        text-align: center;
        position: relative;
        height: 0;
        bottom: 60px;
        right: -120px;
    }
    &__btn--d-none {
        display: none;
    }
    &__btn {
        display: inline-block;
        vertical-align: top;
    }
    &:hover .card__btn {
        opacity: 0.3;
    }
    &__btn:hover {
        opacity: 1 !important;
    }
}

@media only screen and (max-width: 550px) {
    // .movie__card {
    //     justify-content: center;
    // }
}