.card {
    padding: 30px 0;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    &__box {
        display: flex;
        justify-content: space-between;
    }
    &__text-column {
        margin-right: 20px;
    }
    &__title {
        font-weight: normal;
    }
    &__genre-wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
    }
    &__bookmark {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 10px;
        background-color: transparent;
        border: none;
        &-icon {
            width: 40px;
            color: yellow;
        }
    }
    &:hover .card__bookmark {
        opacity: 1;
    }
    &__poster-wrap {
        position: relative;
    }
}

@media only screen and (max-width: 550px) {
    // .movie__card {
    //     justify-content: center;
    // }
}