.info-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card--big {
    max-width: 43%;
}

.movie-card--big img {
    padding-right: 40px;
}

.card__title {
    display: flex;
}

.card__title a {
    padding: 10px 0;
}

.info-movie__card {
    width: 43%;
    /* padding: 0 10px; */
}

.info-movie__btn {
    float: right;
}

.card__text {
    padding: 10px 0 5px 0;
}

.card__small {
    font-size: 16px;
}

.card__genres {
    display: flex;
    flex-wrap: wrap;
}

.card__genre-item {
    padding: 10px 10px;
    /* background-color: indianred; */
    background-color: rgb(168, 120, 230);
}

.info-movie__similar {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__rating {
    color: rgb(73, 199, 38);
    font-size: 30px;
}

.card__statistics {}