@import '../../../mixins.scss';
.info-movie-basiс {
    max-width: 50%;
    img {
        padding-right: 40px;
    }
    &:hover .info-movie__btn {
        opacity: 0.3;
    }
    &__img-wrap {
        position: relative;
        width: 500px;
    }
    &__title {
        display: flex;
        font-size: 22px;
        padding: 10px 0;
    }
    &__text {
        padding: 10px 0 5px 0;
        display: flex;
        justify-content: space-between;
    }
    &__text {
        line-height: 22px;
    }
    &__btn {
        position: relative;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 220px;
        left: 400px;
        &:hover {
            opacity: 1 !important;
        }
    }
}

.info-movie-detaled {
    &__statistics {
        max-width: 380px;
    }
    &__small {
        font-size: 14px;
    }
    &__rating {
        color: rgb(73, 199, 38);
        font-size: 30px;
    }
    &__genres {
        display: flex;
        flex-wrap: wrap;
        &-item {
            padding: 10px 10px;
        }
    }
    &__text {
        padding: 10px 0 5px 0;
        display: flex;
        justify-content: space-between;
    }
    &__genre-item {
        padding: 10px;
        background-color: rgb(122, 47, 141);
    }
}

.statistics {
    &__column--right {
        width: 70%;
        text-align: right;
    }
    &__column--left {
        width: 30%;
    }
}

.info-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__card {
        width: 47%;
    }
    &__similar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
        padding-top: 30px;
    }
    &__similar-card {
        width: 100%;
        margin: 0 10px;
    }
}

@media only screen and (max-width: $large-size) {
    .info-movie-detaled {
        padding-top: 300px;
        width: 43%;
        &__rating {
            font-size: 24px;
        }
        &__small {
            font-size: 10px;
        }
        &__text {
            padding: 5px 0;
        }
    }
}

@media only screen and (max-width: $middle-size) {
    .info-movie {
        &__title {
            padding-top: 10px;
        }
        &__similar {
            @include item-card;
        }
    }
}

@media only screen and (max-width: $small-size + 50px) {
    .info-movie-detaled {
        padding-top: 20px;
        width: 100%;
        &__rating {
            position: absolute;
            right: 15%;
            top: 150px;
        }
    }
    .info-movie-basiс {
        max-width: 100%;
        &__card {
            padding-top: 20px;
            width: 100%;
        }
        &__img-wrap {
            width: 300px;
        }
        &__btn {
            font-size: 12px;
            padding: 5px;
            top: 110px;
            left: 220px;
        }
        &__similar {
            @include item-card;
        }
    }
}

@media only screen and (max-width: $extra-small-size) {
    .info-movie-detaled {
        &__rating {
            position: absolute;
            right: 55px;
        }
    }
}