.info-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-card--big {
    max-width: 43%;
}

.movie-card--big img {
    padding-right: 40px;
}

.card__title {
    display: flex;
    font-size: 22px;
}

.card__title a {
    padding: 10px 0;
}

.info-movie__card {
    width: 47%;
    /* padding: 0 10px; */
}

.info-movie__btn {
    float: right;
}

.card__statistics {
    max-width: 380px;
}

.card__text {
    padding: 10px 0 5px 0;
    display: flex;
    justify-content: space-between;
}

.card__small {
    font-size: 14px;
}

.card__genres {
    display: flex;
    flex-wrap: wrap;
}

.card__genre-item {
    padding: 10px 10px;
}

.info-movie__similar {
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics__column--left {
    width: 40%;
}

.statistics__column--right {
    width: 60%;
}

.card__rating {
    color: rgb(73, 199, 38);
    font-size: 30px;
}