.bookmarks__card {
    /* margin: 0 5px; */
    width: 300px;
}

.bookmarks__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bookmarks__btn--remove {
    position: relative;
    top: -50px;
    right: 20px;
}