<section class="movie">
    <div class="movie-top-wrap">
        <!-- <input class="movie-search" value="окно поиска" [(ngModel)]="search" (keyup.enter)="getSearchMovie(search)"> -->
        <app-search (onChange)="onSearch($event)"></app-search>
    </div>
    <div class="movie-list-box">
        <ul class="movie-list">
            <!-- todo implement using get/search/movie-->
            <li class="movie-card" [routerLink]="['/info', movie.id]" *ngFor="let movie of movies">
                <div>
                    <app-card [movie]="movie" [objGenres]="objGenres"></app-card>
                </div>
            </li>
        </ul>
    </div>
    <app-pagination [pageSize]="pageSize" [pages]="countPages" [totalResults]="totalResults"></app-pagination>
</section>