@import '../../../mixins.scss';
.movie {
    &__search-wrap {
        display: flex;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 20px;
    }
}

.card__text {
    margin: 13px 0;
    white-space: pre-line;
}

@media only screen and (max-width: $middle-size) {
    .movie {
        &__list {
            @include item-card;
        }
    }
    .text.card__text {
        line-height: 0;
    }
}

@media only screen and (max-width: $small-size) {
    .movie {
        &__list {
            @include item-card;
        }
    }
}

.movie__list {
    @media only screen and (min-width: $huge-size) {
        grid-template-columns: repeat(7, 1fr);
    }
}