<p>movie-list works!</p>
<section class="movie">
    <div class="movie-top-wrap">
        <input class="movie-searc" value="окно поиска">
        <a class="btn" [routerLink]="['/bookmarks']">Избранные фильмы</a>
    </div>
    <div class="movie-list-box">
        <ul class="movie-list">
            <div *ngFor="let movie of movies">
                <li class="movie-card" [routerLink]="['/info', movie.id]" (click)="openCard(movie.id)">
                    <img class="card-poster" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" id="{{movie.id}}">
                    <div class=" text ">{{movie.title}}</div>
                </li>
            </div>
        </ul>
    </div>
</section>