<section class="movie">
    <div class="movie-top-wrap">
        <input class="movie-search" value="окно поиска" [(ngModel)]="search">

    </div>
    <div class="movie-list-box">
        <!-- to do movie-list-wrap -->
        <ul class="movie-list">
            <div *ngFor="let movie of movies | search:search">
                <!-- todo implement using get/search/movie-->
                <li class="movie-card" [routerLink]="['/info', movie.id]">
                    <img class="card-poster" src="https://image.tmdb.org/t/p/w400{{movie.poster_path}}" id="{{movie.id}}">
                    <div class="text"><b>Title:</b> {{movie.title}}</div>
                    <div class="text"><b>Viewers rating:</b> {{movie.vote_average}}</div>
                    <div class="text"><b>Vote count:</b>{{movie.vote_count}}</div>
                    <div class="text"><b>Overview:</b> {{movie.overview}}</div>
                    <div class="text"><b>Release date:</b> {{movie.release_date}}</div>
                    <div class="genre-wrap"><b>Genre:</b> movie.genre_ids</div>
                    <div class="genres" *ngFor="let id of movie.genre_ids">
                        <div class="genres">{{objGenres[id]}}</div>
                    </div>

                </li>
            </div>
        </ul>
    </div>
</section>