<p>movie-list works!</p>
<section class="movie">
    <div class="movie-top-wrap">
        <input class="movie-searc" value="окно поиска">
    </div>
    <div class="movie-list-box">
        <ul class="movie-list">
            <li class="movie-card">
                <img class="card-poster" />
                <div class="text">Lorem, ipsum.</div>

            </li>
            <li class="movie-card">
                <img class="card-poster" />
                <div class="text">Lorem, ipsum.</div>

            </li>
            <li class="movie-card">
                <img class="card-poster" />
                <div class="text">Lorem, ipsum.</div>

            </li>
            <li class="movie-card">
                <img class="card-poster" />
                <div class="text">Lorem, ipsum.</div>

            </li>
        </ul>
    </div>
</section>