<p>movie-info works!</p>

<div class="statistics-movie">

</div>

<section class="info-movies">
    <div class="card-movie movie-card--big">
        <img class="r" src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="Постер">
    </div>

    <div class="info-movies-wrap">
        <b class="title-movie">{{movie. title}}</b>
        <div class="text-movie">
            {{movie.overview}}
        </div>

        <button class="btn">add bookmarks</button>
        <div class="budget">Budget {{movie.budget}}</div>
        <div class="vote-average">Viewers rating{{movie.vote_average}}</div>
        <div class="popularity">Views{{movie.popularity}}</div>
    </div>
</section>