/* You can add global styles to this file, and also import other style files */

html {
    width: auto;
    height: auto;
    /* background-image: linear-gradient(to right bottom, #ffffff 33%, #0039a6 33%, #0039a6 66%, #d52b1e 66%); */
}


/* body {} */

.header-title {
    padding: 20px 30px;
    display: flex;
}

.movie-top-wrap {
    display: flex;
}

.movie-search {
    width: 80%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: rgb(201, 165, 235);
}

.btn {
    font-size: 16px;
    padding: 20px;
    background-color: grey;
}

.btn--bookmarks {
    max-width: 200px;
    margin-left: auto;
}

.movie-list,
.bookmarks-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info-movies {
    display: flex;
    flex-wrap: wrap;
}

.movie-card,
.bookmarks-card {
    width: 400px;
    height: auto;
    margin: 20px 30px;
}

.movie-card--big {
    width: 40%;
    height: auto;
    margin: 20px 30px;
}

.info-movies-wrap {
    width: 40%;
}

.similar-box {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}