/* You can add global styles to this file, and also import other style files */

html {
    width: auto;
    height: auto;
    /* background-image: linear-gradient(to right bottom, #ffffff 33%, #0039a6 33%, #0039a6 66%, #d52b1e 66%); */
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 2px solid transparent;
}

a:focus,
a:hover {
    text-decoration: none;
    color: black;
    border: 2px solid indianred;
    border-radius: 15px;
    /* opacity: 0.6; */
}

.btn--blue:focus {
    /* background-color: #803B9D; */
    background-color: #9661C7;
}

.btn--green:focus {
    /* background-color: #803B9D; */
    background-color: #3A5C67;
}

body {
    white-space: pre-wrap;
    background: radial-gradient( farthest-side at top left, rgba(255, 0, 255, 0.5), #246756), radial-gradient( farthest-corner at bottom right, rgba(255, 50, 50, 0.5), #246756 400px);
    /* display: flex; */
    /* min-height: 70%; */
    /* height: 200vmin; */
}

main {
    margin: auto;
    max-width: 80%;
}

.header-title {
    padding: 20px 30px;
    display: flex;
}

.movie-top-wrap {
    display: flex;
}

.btn {
    font-size: 16px;
    padding: 10px;
    /* background-color: rgb(168, 120, 230); */
    background-color: #5F4B83;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn:focus,
.btn:hover {
    border: 1px solid indianred;
    opacity: 0.6;
}

.bookmarks {
    max-width: 250px;
    font-size: 24px;
    margin-left: auto;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pag-item {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    margin: 0 5px;
}