/* You can add global styles to this file, and also import other style files */

html {
    width: auto;
    height: auto;
    /* background-image: linear-gradient(to right bottom, #ffffff 33%, #0039a6 33%, #0039a6 66%, #d52b1e 66%); */
}


/* body {} */

.header-title {
    padding: 20px 30px;
}

.movie-top-wrap {
    display: flex;
}

.movie-searc {
    width: 80%;
    margin: 0 30px;
    padding: 20px 30px;
    background-color: blueviolet;
}

.btn {
    padding: 20px;
    background-color: grey;
}

.movie-list,
.bookmarks-list {
    display: flex;
    flex-wrap: wrap;
}

.info-movies {
    display: flex;
}

.movie-card,
.bookmarks-card {
    width: 300px;
    height: auto;
    margin: 20px 30px;
}

.movie-card--big {
    width: auto;
    height: auto;
    margin: 20px 30px;
}