@import "./normalize.scss";

/*
common styles
   */

@import 'mixins';
html {
    width: auto;
    height: auto;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.755);
}

html * {
    box-sizing: border-box;
}

body {
    width: 100%;
    white-space: pre-wrap;
    background: radial-gradient( farthest-side at top left, rgba(152, 2, 152, 0.5), #1a4c40), radial-gradient( farthest-corner at bottom right, rgba(165, 32, 32, 0.5), #246756 400px);
}

span,
p,
h3,
.text {
    cursor: default;
}

@media only screen and (min-width: $large-size) {
    .text {
        font-size: 16px;
    }
    .title {
        font-size: 20px;
    }
}

@media only screen and (max-width: $large-size) {
    .text {
        font-size: 12px;
    }
    .title {
        font-size: 14px;
    }
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.81);
}

a:hover {
    color: rgb(98, 162, 186);
}

main {
    margin: auto;
    max-width: 80%;
}

.btn {
    font-size: 16px;
    padding: 10px;
    background-color: #5f4b83;
    border-radius: 5px;
    border: 0.5px solid transparent;
    color: rgba(255, 255, 255, 0.796);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn--blue:focus {
    background-color: #9661c7;
}

.btn--green:focus {
    background-color: #3a5c67;
}

.btn:focus,
.btn:hover {
    color: rgb(98, 162, 186);
    border: 0.5px solid rgb(98, 162, 186);
    /* opacity: 0.6; */
}