<p>movie-list works!</p>
<img>
<button class="featured-movie"></button>
<div class="text-movie"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id reiciendis unde libero similique saepe consectetur, dolore necessitatibus asperiores officiis.</div>
<div class="statistics-movie">
    Lorem, ipsum.
</div>

<section class="related-movies-list">
    <div class="related-movies">
        <img src="" alt="">
        <div class="title">Lorem, ipsum.</div>
    </div>
    <div class="related-movies">
        <img src="" alt="">
        <div class="title">Lorem, ipsum.</div>
    </div>
    <div class="related-movies">
        <img src="" alt="">
        <div class="title">Lorem, ipsum.</div>
    </div>
</section>