<section>
    <p>movie-bookmarks works!</p>
    <div class="text-movie"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea id reiciendis unde libero similique saepe consectetur, dolore necessitatibus asperiores officiis.</div>
    <div class="bookmarks-list-box">
        <ul class="bookmarks-list">
            <li class="bookmarks-card">
                <img src="" alt="">
                <div class="title">Lorem, ipsum.</div>
                <button class="btn btn--remove"></button>
            </li>

            <li class="bookmarks-card">
                <img src="" alt="">
                <div class="title">Lorem, ipsum.</div>
                <button class="btn btn--remove"></button>
            </li>
        </ul>
    </div>
</section>