.search {
    font-size: 18px;
    background-color: #875EB7;
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.782);
    display: block;
    margin: 0 auto;
    padding: 13px 30px;
    margin-bottom: 40px;
    width: 200%;
    &::placeholder {
        color: rgba(255, 255, 255, 0.775);
        opacity: 1;
    }
    &:hover,
    &:focus {
        border: 1px solid indianred;
    }
}

@media only screen and (max-width: 850px) {
    .search {
        font-size: 12px;
        top: 120px;
        left: 0;
        margin-left: 11%;
    }
}