.search {
    font-size: 18px;
    width: 60%;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #875EB7;
    border-radius: 3px;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.782);
    display: block;
}

.search::placeholder {
    color: rgba(255, 255, 255, 0.775);
    opacity: 1;
}

.search:focus,
.search:hover {
    border: 1px solid indianred;
}